]
<style>

.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    margin-left: 55px;
}


</style>
<body>
    <div class="navbar">
        <a class="logo"
            style="font-size: x-large; font-family: 'Times New Roman', Times, serif; color: orange;float: left;">Med
            Store</a>
        <a href="/home.html">Home</a>
        <a href="/about">About</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/contact">Logout</a>
    </div>

    {%block context%} {%endblock%}
</body>
</html>
