
  .top {
    position: absolute;
    top: 2px;
    left: 45px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }

  .mid {
    position: absolute;
    top: 5px;
    right: 45px;
  
  }

  .navbar {
    display: inline-block;

  }

  .navbar li {
    display: inline-block;
  }

  .navbar li a {
    text-decoration: none;
    padding: 34px 23px;
    color: black;
    font-size: 20px;
  }

  .navbar li a:hover,
  .navbar li a.active {

    color: orangered;
  }